# Node modules
node_modules/

# Build output
dist/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Debugger config
.vscode/

# Optional npm cache
.npm/

# Optional REPL history
.node_repl_history

# OS files
.DS_Store
Thumbs.db
